{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
